.perfil {
  color: antiquewhite;
  padding: 10px;
  text-align: center;
}
.email {
  color: antiquewhite;
}
.senha {
  color: antiquewhite;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
form {
  background-color: #9b3828;
  padding: 20px;
  border-color: antiquewhite;
  border-radius: 20px;
  margin: 5px auto;
  width: auto;
  height: 400px;
}
label {
  font-weight: bold;
}
input[type="text"],
input[type="email"],
textarea {
  width: 97%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 7px;
}
.radio-group {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 15px;
  justify-content: center;
}
.radio-option {
  display: inline-flex;
  align-items: center;
  gap: 1px;
  padding: 10px 14px;
  border-radius: 999px;
  background: #0179b6ff;
  cursor: pointer;
  transition: all 0.2s ease;
  user-select: none;
  color: #ffffff;
  font-weight: bold;
}
.radio-option:hover {
  background: #0288D1;
}
input[type="submit"] {
  background-color: #003640;
  color: #ffffff;
  padding: 12px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}
input[type="submit"]:hover {
  background-color: #002A33;
}
.radio-option:hover {
  background: #0277BD;
}
.radio-option input {
  display: none;
}
.radio-option span {
  font-weight: normal;
  color: inherit;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
}
.radio-option input:checked + span {
  font-weight: bold;
}
input[type="submit"] {
  background-color: #014163ff;
  color: #ffffff;
  padding: 12px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}
input[type="submit"]:hover {
  background-color: #001c2cff;
}
#password {
  width: 97%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 7px;
}